controlador.py
otros/*
entity/__pycache__/*
entity/__pycache__
bd/__pycache__/*
bd/__pycache__
__pycache__
.env
estructuas_db/
exception/__pycache__
process_status.json
services/__pycache__
process/__pycache__
.coverage
coverage.xml
.scannerwork
